.container {
    background-color: black;
    color: white;
    min-height: 1000px;
}

#startbtn {
    background-color: aqua;
    color: rgb(0, 0, 149);
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    border-color: rgb(0, 0, 149);;
    border-width: 10px;
    box-shadow: 2px 4px 10px white;
}

#startbtn:hover {
    letter-spacing: 2px;
    padding: 5px;
    font-size: medium;
    transition: ease-in-out 0.5s;
}